extends layout

block content
  h1= title
  p Welcome to #[em AddressBook], a simple address book for your Grandma to use.

  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else
    p The Address Book has the following address count:

//    ul
//      li #[strong Addresses:] !{data.address_count}